@use '../../../_colors.scss' as *;

@use "bootstrap/scss/functions";
// @use "bootstrap/scss/variables";
@use "bootstrap/scss/mixins";


.preview-style{
    background-color: #000000;
    width: 100%;
}

.command-line-history{
    overflow-y: auto;
    height: 100%;
    max-height: 40vh;
    @media (max-width: 575.98px) {
        height: 300px;
    }
}

.command-viewer{
    min-height: 40vh;
}
