// color palette: https://www.color-hex.com/color-palette/23053 

$primary: #000000;
$light: #aaaaaa;
$dark: #f3e8e8;
$secondary:  #29b474;
$white: #ffffff;
$light_alpha: #aaaaaa77;
$black: rgb(255, 255, 255);
$danger: red;